Write a function to find moving average in an array over a window:

Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3

In [1]:
import numpy as np
def mov_avg(x,w):
    for i in range(len(x)-w):
        y=np.sum(x[i:i+w])
        print(y/w)

In [3]:
x = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
mov_avg(x,2)

4.0
6.0
4.5
5.0
9.0
10.5
38.0
68.5
76.5
90.0
99.5

#How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [4]:
import pandas as pd
s = pd.Series([7, 2, 0, 3, 4, 2, 5, 0, 3, 4])
(s.groupby(s.eq(0).cumsum().mask(s.eq(0))).cumcount() + 1).mask(s.eq(0), 0).tolist()

[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]

#Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.

In [7]:
import numpy as np
dti = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B')
s = pd.Series(np.random.rand(len(dti)), index=dti)
s

2015-01-01    0.715598
2015-01-02    0.929341
2015-01-05    0.546643
2015-01-06    0.686448
2015-01-07    0.177416
2015-01-08    0.909224
2015-01-09    0.089968
2015-01-12    0.440408
2015-01-13    0.793520
2015-01-14    0.176084
2015-01-15    0.455408
2015-01-16    0.300206
2015-01-19    0.322134
2015-01-20    0.476455
2015-01-21    0.950649
2015-01-22    0.701673
2015-01-23    0.588569
2015-01-26    0.686908
2015-01-27    0.184188
2015-01-28    0.020590
2015-01-29    0.122356
2015-01-30    0.666657
2015-02-02    0.283651
2015-02-03    0.042209
2015-02-04    0.946286
2015-02-05    0.035665
2015-02-06    0.007525
2015-02-09    0.609842
2015-02-10    0.228598
2015-02-11    0.530681
                ...
2015-11-20    0.699536
2015-11-23    0.231311
2015-11-24    0.993216
2015-11-25    0.134857
2015-11-26    0.381521
2015-11-27    0.226383
2015-11-30    0.446750
2015-12-01    0.876498
2015-12-02    0.422891
2015-12-03    0.237987
2015-12-04    0.010790
2015-12-07    0.328495
2015-12-08    0.860088
2015-12-09    0.201180
2015-12-10    0.486814
2015-12-11    0.097280
2015-12-14    0.645195
2015-12-15    0.132743
2015-12-16    0.429017
2015-12-17    0.687373
2015-12-18    0.475721
2015-12-21    0.244628
2015-12-22    0.253768
2015-12-23    0.041004
2015-12-24    0.497433
2015-12-25    0.086997
2015-12-28    0.422689
2015-12-29    0.294333
2015-12-30    0.218356
2015-12-31    0.094744
Freq: B, Length: 261, dtype: float64

In [8]:
# Find the sum of the values in s for every Wednesday.
s[dti.weekday == 2].sum()

25.2910406700159

In [10]:
#Average For each calendar month
#s.resample('M', how='mean')
s.resample('M').mean()

2015-01-31    0.497293
2015-02-28    0.468329
2015-03-31    0.639550
2015-04-30    0.528367
2015-05-31    0.474966
2015-06-30    0.582851
2015-07-31    0.504425
2015-08-31    0.487011
2015-09-30    0.602991
2015-10-31    0.583621
2015-11-30    0.518820
2015-12-31    0.349827
Freq: M, dtype: float64

In [11]:
#For each group of four consecutive calendar months in s, find the date on which the highest value occurred.
s.groupby(pd.TimeGrouper('4M')).idxmax()

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)

2015-01-31   2015-01-21
2015-05-31   2015-03-16
2015-09-30   2015-09-15
2016-01-31   2015-10-05
dtype: datetime64[ns]